<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section class="dashboard">
    <h3 class="title font-lato">My Lists</h3>
    <div class="lists flex flex-row">
       
        <% if ( lists.length == 0) { %>
            <form action="/dashboard/<%= username %>/<%= defaultList.listName %>" method="get" class="list-card flex flex-column">
                <label class="name font-roboto flex"><%= defaultList.listName %></label>
                <label class="icon flex font-roboto a"></label>
            </form>
        <% } else { %>
            <% lists.forEach(list => { %>
                <div class="list-card list-container flex flex-column">
                    <form action="/dashboard/<%= username %>/<%= list.listName %>" method="get" class="list-card flex flex-column">
                        <label class="name font-roboto"><%= list.listName %></label>
                        <label class="icon flex font-roboto a"></label>
                    </form>
                    <div class="delete flex flex-row">
                        <form action="/dashboard/delete-list" method="post" class="btns delete-button">
                            <input type="hidden" name="username" value="<%= username %>">
                            <input type="hidden" name="listName" value="<%= list.listName %>">
                            <input class="font-roboto" type="image" src="/assets/delete.png" alt="Delete" onclick="submitForm()">
                        </form>
                        <form action="/dashboard/<%= username %>/<%= list.listName %>/edit" method="get" class="btns rename-button">
                            <input type="hidden" name="username" value="<%= username %>">
                            <input type="hidden" name="listName" value="<%= list.listName %>">
                            <input class="font-roboto" type="image" src="/assets/edit.png" alt="Delete" onclick="submitForm()">
                        </form>
                    </div>
                </div>
            <% }); %>
        <% } %>

        <form action="/dashboad/<%= username %>/new-list" class="list-card flex flex-column" id="add-new" method="get">
            <label class="name font-roboto flex">Add New</label>
            <label class="icon flex font-roboto">+</label>
        </form>
    </div>
</section>

<%- include("partials/footer") %>